@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #323232;
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-family: 'Courgette', cursive;
  color: #2673DD;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: rgba(38, 115, 221, 0.8);
}

.price-box {
  color: rgba(38, 115, 221, 0.9);
  display: flex;
  justify-content: space-between;
}

button {
  border: .1rem solid rgba(38, 115, 221, 0.9);
  color: rgba(38, 115, 221, 0.9);
  background-color: rgba(38, 115, 221, 0.1);
  border-radius: .25rem;
  padding: 0 .15rem;
}

#item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 2px 2px black;
}


img {
  max-width:40%;
  padding: .5rem;
  background-color: white;
  border-radius: .5rem;
}